.wrapper {
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
}

.title {
    font-size: 20px;
    margin-bottom: 5px;
}

.button {
    padding: 10px;
    background-color: gray;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.3s;
    &:hover{
        opacity: 0.8;
    }
}

.buttonStart {
    border: 2px solid black;
    font-size: 18px;
    margin-right: 20px;
}

.extraTitle{
    font-size: 22px;
    color: blue;
}