.window {
    width: 100%;
    padding: 10px;
    padding-bottom: 30px;
    height: 100%;
    position: relative;
}

.title {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding: 3px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.wrapper {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-bottom: 5px;
}

.customInputsWrapper {
    position: absolute;
    left: 40px;
    font-weight: 600;
    
}

input {
    width: 50px;
    padding: 3px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid black;
}

.buttonOk {
    margin-left: 10px;
    padding: 3px;
    background-color: lightblue;
    border: 1px solid black;
    transition: opacity 0.2s;
    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }
}

.button {
    border: none;
    background-color: lightblue;
    padding: 10px 20px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 2px;
    transition: opacity 0.2s;
    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }
}