.main-app {
  background-color: lightgray;
  padding: 40px;
  position: relative;
}

.header {
  width: 75%;
}

.gameField {
  width: 75%;
  padding: 5px;
  border: 2px solid blue;
  background-color: lightgreen;
  border-radius: 10px;
  margin: 0;
}


.fieldColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5%;
}

.sideBar {
  width: 25%;
  position: absolute;
  right: 0;
  top: 0;
}